<!DOCTYPE html>
<html>
<head>
  <title>AgentHelpers</title>
  <%= stylesheet_link_tag    "agent_helpers/application", media: "all" %>
  <%= javascript_include_tag "agent_helpers/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
